body {
  background: linear-gradient(120deg, #1a1a2e, #16213e);
  font-family: Arial;
  color: white;
  text-align: center;
}

.app {
  width: 400px;
  margin: 50px auto;
  background: #0f3460;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px black;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}


button {
  padding: 12px;
  margin: 10px;
  width: 90%;
  background: #00adb5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #01949a;
}

.correct {
  background: green !important;
}

.wrong {
  background: red !important;
}

.hide {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}
